.footer {
  padding: 60px 40px 30px;
  color: #333;
}

.footer-container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-brand {
  width: 30%;
}

.footer-brand h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer-brand p {
  line-height: 1.6;
  color: gray;
}

.footer-columns {
  width: 65%;
  display: flex;
  gap: 40px;
}

.links-column,
.help-column,
.newsletter-column {
  flex: 1;
  font-weight: bold;
}

.links-column h3,
.help-column h3,
.newsletter-column h3 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 35px;
  letter-spacing: 1px;
  color: gray;
  margin-left: 40px;
}

.links-column ul,
.help-column ul {
  list-style: none;
}

.links-column li,
.help-column li {
  margin-bottom: 30px;
}

.links-column a,
.help-column a {
  text-decoration: none;
  color: #666;
}

.links-column a:hover,
.help-column a:hover {
  color: #000;
}

.newsletter-column {
  flex: 1;
}

.newsletter-form {
  display: flex;
  align-items: flex-end; /* Выравниваем элементы по нижнему краю */
  margin-left: 40px;
  gap: 10px; /* Добавляем промежуток между элементами */
}

.newsletter-form input {
  padding: 10px 0; /* Уменьшаем вертикальный padding */
  border: none;
  border-bottom: 2px solid #000;
  font-size: 14px;
  flex-grow: 1; /* Позволяет полю ввода занимать все доступное пространство */
  outline: none;
  background: transparent;
  height: 40px; /* Фиксированная высота */
}

.newsletter-form button {
  padding: 10px 20px;
  background: none;
  border: none;
  border-bottom: 2px solid #000;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  height: 40px; /* Такая же высота как у input */
  white-space: nowrap; /* Запрещаем перенос текста */
  transition: all 0.3s ease;
}

.newsletter-form button:hover {
  color: #555;
  border-bottom-color: #555;
}