
<div class="header">
    <div class="logo">
        <img src="../assets/images/Meubel House_Logos-05@2x.webp" height="33" width="50"/>
    </div>
    <p class="logo-text">Furniro</p>
    <div class="header-nav" >Home Shop About Contact</div>
    <div class="header-icon">
        <img src="../assets/images/mdi_account-alert-outline.webp" >
        <img src="../assets/images/akar-icons_search.webp" >
        <img src="../assets/images/akar-icons_heart.webp">
        <img src="../assets/images/ant-design_shopping-cart-outlined-sm.webp " height="28" width="28">
    </div>
</div>