
<div class="header">
    <div class="logo">
        <img src="../assets/images/Meubel House_Logos-05@2x.webp" height="33" width="50"/>
        Furniro
    </div>
    <div class="header-nav" ><a style="text-decoration: none; color: black" href="./index.html">Home</a> <a style="text-decoration: none; color: black" href="./index2.html">Shop</a> <a style="text-decoration: none; color: black" href="./index4.html">About</a> <a style="text-decoration: none; color: black" href="./index6.html">Contact</a></div>
    <div class="header-icon">
        <img src="../assets/images/mdi_account-alert-outline.webp" >
        <img src="../assets/images/akar-icons_search.webp" >
        <img src="../assets/images/akar-icons_heart.webp">
        <img src="../assets/images/ant-design_shopping-cart-outlined-sm.webp " height="28" width="28">
    </div>
</div>